    </div>
    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    <!-- Scripts -->

    {{ if isset .Site.Params "customjs" }}
      {{ $.Scratch.Set "jsFiles" .Site.Params.customJS }}
    {{ else }}
      {{ $.Scratch.Set "jsFiles" false }}
    {{ end }}

    <!-- If the value "default" is passed into the param then we will first
     load the standard js files associated with the theme -->
    {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
      <script src="https://unpkg.com/flickity@2.0.10/dist/flickity.pkgd.min.js"></script>
      <script src="{{ "js/util.js" | relURL }}"></script>
      <script src="{{ "js/main.js" | relURL }}"></script>
      <script src="{{ "js/backToTop.js" | relURL }}"></script>
    {{ end }}

    {{ if ne ($.Scratch.Get "jsFiles") false }}
      {{ range $.Scratch.Get "jsFiles" }}
        {{ if ne . "default" }}
          <script src="{{ . | relURL }}"></script>
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- This is called by default since this theme uses highlight.js -->
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
      var $carouselEl = $('.carousel');
      $carouselEl.each(function (index, carouselEl) {
        var $carouselEl = $(carouselEl);
        var carousel = $carouselEl.flickity({
          cellSelector: 'img',
          imagesLoaded: true,
          percentPosition: false
        });
        var $caption = $carouselEl.next();
        // Flickity instance
        var flkty = carousel.data('flickity');

        carousel.on( 'select.flickity', function() {
          // set image caption using img's alt
          $caption.text( flkty.selectedElement.alt )
        });
      });
    </script>
  </body>
</html>
